# Data Extraction
pymupdf

# Backend
fastapi
uvicorn

# Database & Vectors
psycopg2-binary
pydantic
python-dotenv

# AI & RAG
langchain
langchain-community
langchain-text-splitters
sentence-transformers
google-generativeai
# langchain-openai (optional if using OpenAI)
